<div class="box">
    <div class="card-content">
      <p class="title">
        {{postTitle}}
      </p>
      <p class="subtitle fifty-chars">
        {{postContent}}
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Post By {{user.username}}
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Posted On: {{format_date dateCreated}}
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <a href="/post/{{id}}">View Full Post</a>
        </span>
      </p>
    </footer>
  </div>